extends layout
block content
    - var articles = [{title:"test1", createDate: new Date(), text:"Ipsum dolor sit amet <b>yes</b>"},{title:"test2", createDate: new Date(), text:"Ipsum dolor sit amet <i>yes</i>"}];
    include shared/displayTemplates/article