head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE-edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="description", content="")
    meta(name="author", content="")
    title The simplest blog ever created 
    link(href="css/bootstrap.min.css", rel="stylesheet")
    link(href="css/default.css", rel="stylesheet")
    link(href="css/theme.css", rel="stylesheet")
    link(href="css/skin.css", rel="stylesheet")
    link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Open+Sans%3A300%2C600&amp;ver=4.6.1", type="text/css", media="all")
    script(type="text/javascript", src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")        
    script(type="text/javascript", src="js/bootstrap.min.js")
body
    .wrapper
        header.header
            .wrapper.header-wrapper
                h1.header-title Simple Blog
                p.header-about Hey, this is a simple blog made with node js and a few other libraries. The purpose of this project is just to be an example of how to implement a system using Mongodb, nodejs and nginx.
                nav.nav.header-nav(role="navigation")
                    ul
                        li.menu-item
                            a(href="/") Home
                        li.menu-item
                            a(href="/Admin") Admin
                        li.menu-item
                            a(href="/Login") Sign in
                   
        main.main
            #main-posts.wrapper
                block content


